/*
 * Styles for Admin View Accounts page.
 * Retro neon theme with mobile-friendly design.
 */

/* General body styling */
body{
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive; /* Retro font */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c; /* Dark background */
}

/* Main container */
.container{
    text-align: center;
    background: #111; /* Dark container */
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.7); /* Glowing neon effect */
    width: 320px; /* Mobile-friendly width */
}

/* Logo styling */
.logo{
    width: 100px;
    height: auto;
    margin-bottom: 20px;
    border: 3px solid #00ffcc;
    padding: 5px;
    background-color: #111;
    box-shadow: 0 0 10px 2px #ff00ff;
}

/* Page title */
.pageTitle{
    font-size: 20px;
    color: #00ffcc;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
}

#filterButton{
    font-size: 16px;
    color: white;
    background-color: #9e21a4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#filterButton:hover{
    background-color: #00ffcc;
    box-shadow: 0 0 25px rgba(0, 255, 255, 1);
}

#accountLabelContainer{
    margin-top: 5%;
    margin-bottom: 2%;
    display: flex;
    align-items: left;
    color: #ff00ff;
}

#userContainer{
    font-size: 10px;
    background-color: #000000;
}

.userLabelContainer{
    display: flex;
    align-items: left;
}

.userLabel{
    margin-top:2%;
    margin-left:2%;
    margin-bottom:2%;
    color: #00ffcc;
}

.tableContainer{
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    color: #ff00ff;
    width: 30%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td{
    padding: 10px;
    background-color: #222;
    font-family: 'Press Start 2P', cursive;
    border: 2px solid #ddd;
    text-align: center;
}

.blueButtons{
    margin-top: 5%;
    padding: 5px;
    font-size: 12px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.blueButtons:hover{
    background-color: #00ffcc;
    box-shadow: 0 0 25px rgba(0, 255, 255, 1);
}